/* Declare variables ----------------- */

:root {
  --dark: hsl(20, 7%, 65%);
  --darker: hsl(20, 7%, 35%);
  --light: hsl(20, 7%, 85%);
  --bggrey: #eee;
  --highlight: #fff;
  --accent: #0075b0;

  --stripeGrad: linear-gradient(-90deg, black 0%, var(--darker) 40%, var(--darker) 60%, var(--dark) 90%, black 100%);
  --StripeSize: 10px 20px;

  /* Unit suffixes */
  --deg: '°';
  --degT: '°C';
  --speed: 'km/h';
  --pressure: 'hPa';
  --length: 'm';
}


/* Common ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  line-height: 1.5;
}

/* Tags ----------------- */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--light) 70%, var(--darker) 100%);
  position: relative;
}

body {
  background-color: #f9fbfd;
}

/* -------------------------------------- */

#header-panel {
  background-image: var(--stripeGrad);
  background-size: var(--StripeSize);
  max-width: 1200px;
  width: 90%;
  margin: auto;
  position: relative;

}

#prefsPanel {
  position: absolute;
  right: 0;
  top: 0;

  z-index: 1;
  /* Sit on top */
  padding: 3px 10px;
  font-size: 25px;

  margin-top: 3px;
  /* margin-bottom: 5% ; */

  width: min-content;
  height: 90%;
  background-color: var(--darker);
  background-color: var(--darker);
}

#prefsPanel:hover {
  background-color: black;

}

.pref-choice {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;

}

.pref-choice li {
  z-index: 1;
  font-size: 16px;
  color: var(--highlight);
  background-color: var(--darker);
  padding: 3px 5px;
  border-bottom: 2px solid var(--light);
}

.pref-choice li:hover {
  background-color: black;

}

.pref-choice-modal {
  display: none;
  text-align: center;
  /*background-color: var(--dark) ;
  margin:5px;
  border-radius: 3px;
  border: 3px solid var(--highlight);
  width: 70%;
  padding: 2px 5px; */
}


.pref-choice-modal li {

  text-align: center;
  background-color: var(--dark);
  margin: 5px auto;
  border-radius: 6px;
  border: 3px solid var(--highlight);
  width: 70%;
  padding: 2px 5px;
}

h1 {
  color: white;
  font-size: 2rem;
  text-shadow: 3px 3px 4px var(--darker);
}

#main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* LHS-------------------------------------- */
#search-panel {
  width: 30%;
  background-color: var(--highlight);
}

#cityInput,
hr {
  width: 95%;
  margin: 3px auto;
  border-radius: 5px;
  border: 1px solid var(--darker);
}

.collapse {
  color: var(--highlight);
  background-color: var(--darker);
  width: 95%;
  margin: 5px auto;
}

.btnSearch {
  background-color: var(--accent);
}

.btnCity {
  background-color: var(--dark);
}

/* Weather Panels----------------------------------- */

#info-panel {
  width: 70%;
  background-color: var(--highlight);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#info-panel-header{
  color: var(--highlight);
  background-color: var(--accent);
  padding: 2px 10px ;
  width:100%;
}

#todayWeather {
  width: 70%;
}

#forecastPanel {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.fCast {
  margin: 3px;
  padding: 3px 10px;
  border: 1px solid var(--darker);
  border-radius: 5px;
  /* height: max-content; */
  width: auto;
  background-image: linear-gradient(180deg,rgba(61, 165, 255,0.5) 40% , rgba(0, 0, 150, 0.5) 90%);

}

.dayForecast {
  margin: 3px;
  padding: 3px 10px;
}

.smaller{
  font-size: 0.7rem;
}

.iconImg{
  width: 200px;
}

/* ----------Special formats----------------- */
#tempToday{
  font-size: 2rem;
}
.uvi{
  /* background-color: #FF0000; */
  padding: 1px 6px;
  border-radius: 6px ;
  color: var(--highlight);
  width: fit-content;
}

/* -------Buttons------------------------------- */

.btn {
  width: 95%;
  border-radius: 3px;
  color: var(--highlight);
  box-shadow: inset -2px -2px 4px var(--darker);
  margin: 3px;
  border: none;
}

.btn:hover {
  color: black;
  filter: brightness(120%);
}

.btn:active {
  color: white;
  filter: brightness(80%);
}

/* Modal  ----------------- */
/* The Modal (background) */
.windowModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--darker);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Text Content */
.modal-content {
  background-color: var(--highlight);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--darker);
  width: 80%;
}

/* Modal Close Button */
.closeSpan {
  color: var(--dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeSpan:hover,
.closeSpan:focus {
  color: var(--darker);
  text-decoration: none;
  cursor: pointer;
}

/* -----Units of measure ----------  */
.today-info {
  text-align: left;
}

[data-key]:before {
	content: attr(data-key);
  font-size: 1rem;
}

/* ::before attributes now handled by [data-key] 

#tempToday::before {
  content: 'Temperature: ';
} 

#dtToday::before {
  content: 'time: ';
}

#sunriseToday::before {
  content: 'sunrise: ';
}

#sunsetToday::before {
  content: 'sunset: ';
}

#tempToday::before {
  content: 'temperature: ';
}

#feels_likeToday::before {
  content: 'feels like: ';
}

#pressureToday::before {
  content: 'pressure: ';
}

#humidityToday::before {
  content: 'humidity: ';
}

#dew_pointToday::before {
  content: 'dew point: ';
}

#uviToday::before {
  content: 'UV index: ';
}

#cloudsToday::before {
  content: 'clouds: ';
}

#visibilityToday::before {
  content: 'visibility: ';
}

#wind_speedToday::before {
  content: 'wind speed: ';
}

#wind_degToday::before {
  content: 'wind direction: ';
}

#descriptionToday::before {
  content: 'description: ';
}
*/

/* ------- Suffixes ---------- */
.degT::after {
  content: var(--degT);
}

.deg::after {
  content: var(--deg);
}

.presr::after {
  content: var(--pressure);
}

.perc::after {
  content: '%';
}

.length::after {
  content: var(--length);
}

.spd::after {
  content: var(--speed);
}

/* Media Sizes ----------------- */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
  }

}

@media (max-width: 450px) {

  #main-page {
    flex-direction: column;
    width: 95%;
  }

  #search-panel {
    width: 95%;
  }

  #info-panel {
    flex-direction: column;
    width: 95%;
  }




}